[user]
	name = Ryan McCampbell
	email = rmccampbell7@gmail.com
[push]
	default = simple
[core]
	editor = emacs
[alias]
	aliases = config --get-regexp ^alias\\.
	c = commit
	ca = commit --all
	cm = commit --message
	cam = commit --all --message
	st = status
	ch = checkout
	co = checkout
	lg = log --oneline --graph
	ls = ls-files
	unstash = stash pop
	amend = commit --amend
	superclean = clean -xd
