[user]
	name = Ryan McCampbell
	email = rmccampbell7@gmail.com
[push]
	default = simple
[core]
	editor = emacs
[alias]
	aliases = config --get-regexp ^alias\\.
	a = add --all
	c = commit
	ca = commit --all
	caa = !git add --all && git commit
	cm = commit --message
	cam = commit --all --message
	caam = !git add --all && git commit --message
	st = status
	d = diff
	ds = diff --cached
    shows = show --stat
	ch = checkout
	co = checkout
	lg = log --oneline --graph
	ls = ls-files
	unstash = stash pop
	amend = commit --amend
	superclean = clean -xd
