[user]
	name = Ryan McCampbell
	email = rmccampbell7@gmail.com
[core]
	editor = emacs
[push]
	default = simple
[pull]
	rebase = true
[alias]
	aliases = config --get-regexp ^alias\\.
	a = add --all
	c = commit
	ca = commit --all
	caa = !git add --all && git commit
	cm = commit --message
	cam = commit --all --message
	caam = !git add --all && git commit --message
	st = status
	d = diff
	ds = diff --cached
	dw = diff --word-diff-regex=.
	dws = diff --cached --word-diff-regex=.
	shows = show --stat
	ch = checkout
	co = checkout
	lg = log --oneline --graph
	ls = ls-files
	unstash = stash pop
	amend = commit --amend --no-edit
	amenda = commit --amend --all --no-edit
	superclean = clean -xd
