$include /etc/inputrc

# Arrow up
"\e[A": history-search-backward
# Arrow down
"\e[B": history-search-forward

# Cycle through completions
# Shift+Tab
"\e[Z": menu-complete
#"\t": menu-complete
#"\e[Z": menu-complete-backward

#set completion-ignore-case on

# Don't modify history lines
set revert-all-at-newline on

$if clink

# Ctrl+Tab
"\e[27;5;9~": menu-complete-backward
# Ctrl+Shift+Tab
"\e[27;6;9~": menu-complete-backward

"\t": clink-select-complete

"\C-x\C-x": cua-cut
"\M-w": copy-region-as-kill

"\C-x\C-r": clink-reload

$endif
