Host portal
     HostName portal.cs.virginia.edu
     User rnm6u

Host cslab
     HostName labunix01.cs.virginia.edu
     User rnm6u

Host power
     HostName power1.cs.virginia.edu
     User rnm6u

Host rivanna
     HostName rivanna.hpc.virginia.edu
     User rnm6u

Host gpu
     HostName gpusrv01.cs.virginia.edu
     User rnm6u

Host gpusrv01 gpusrv02 gpusrv03 gpusrv04 gpusrv05 gpusrv06
     HostName %h.cs.virginia.edu
     User rnm6u

Host linklab
     Hostname d-172-27-44-116.dhcp.virginia.edu
     User ryan
     ProxyJump portal
